.arrivals {
   padding-top: 120px;
}

.arrivals__header {
   margin-bottom: 100px;
}

.arrivals__cards {
   display: flex;
   justify-content: space-between;
}

.title-2 {
   font-weight: 900;
   font-size: 48px;
   line-height: 1.04;
   letter-spacing: 0.06em;
   position: relative;
   display: inline-block;
}

.title-2::after {
   content: '';
   position: absolute;
   right: 0;
   bottom: -5px;
   width: 190px;
   height: 32px;
   background-image: url('./../../img/icons/decor-yellow.svg');
   z-index: -1;
}